.Pragmatic_footer_logo{
    font-family: 'Lobster', cursive;

}
.Pragmatic_footer_button{
    font-size: .5rem
}
.Pragmatic_footer{
    text-align:center;
    margin-top: 2rem;
}

.Margin_bottom{
    margin-bottom: 4rem;
}