.Pragmatic_footer_logo{
    font-family: 'Lobster', cursive;

}
.Pragmatic_footer_button{
    font-size: .5rem
}
.Pragmatic_footer{
    text-align:center;
    margin-top: 2rem;
}

input[type=password] 
    { font-family: "default"; 
}

::placeholder {
    font-family: "NanumSquareR";
    color: #888
}

.comment_detail{
    border: 1px solid;
    text-align: left; 
    padding: 4%; 
    margin: 1rem; 
    border-radius: 1rem; 
    border-color: #bbb
}

@media screen and (max-width:500px) {
    html{
        font-size: 13px;
    }
}