    
    <div class='Pragmatic_footer'>
        <div>
            <h1 class='Pragmatic_footer_logo'>Pragmatic</h1>
        </div>
        <div class="Pragmatic_header_navbar">
            <a href="{% url 'articleapp:list' %}"class="Pragmatic_header_nav">
                <span>홈</span>
            </a>
            <a href="{% url 'projectapp:list' %}"class="Pragmatic_header_nav">
                <span>주제</span>
            </a>
            <!--로그인,로그아웃-->
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}"class="Pragmatic_header_nav">
                <span>로그인</span>
            </a>
            <a href="{% url 'accountapp:create' %}?next={{ request.path }}"class="Pragmatic_header_nav">
                <span>회원가입</span>
            {% else %}
            <a href="{% url 'subscribeapp:list' %}"class="Pragmatic_header_nav">
                <span>구독</span>
            </a>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>마이페이지</sapn>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}"class="Pragmatic_header_nav">
                <span>로그아웃</sapn>
            {% endif %}
            </a>
        </div>
    </div>