    
    <div class='Pragmatic_footer'>
        <div>
            <h1 class='Pragmatic_footer_logo'>Pragmatic</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>로그인</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>로그아웃</sapn>
            {% endif %}
            </a>
        </div>
    </div>