{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div style='text-align: center; max-width: 500px; margin: 4rem auto'>
    <div class="mb-4">
        <h2> 회원정보 수정 </h2>
    </div>
    <form action="{% url 'accountapp:update' pk=target_user.pk %}" method = 'post'>
    {% csrf_token %}
    {% include 'form_errors.html' %}
        <div class="form-group" >
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                value="{{ form.username.value|default_if_none:'' }}" placeholder="사용자 이름" disabled>
        </div>
        <div style='margin-bottom: 20px; color:gray'>
            <small> 150자 이하의 문자, 숫자 @/./+/-/_ 만 사용 가능합니당.</small>
        </div>
        <div class="form-group">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                value="{{ form.password1.value|default_if_none:'' }}" placeholder="비밀번호" >
        </div>
        <div style='margin-bottom: 20px; color:gray'>
            <small> 다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다. 
            <br> 비밀번호는 최소 8자 이상이어야 합니다. 
            <br> 통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다. 
            <br> 숫자로만 이루어진 비밀번호는 사용할 수 없습니다. </br>
        </div>
        <div class="form-group" style='margin-bottom: 20px'>
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                value="{{ form.password2.value|default_if_none:'' }}" placeholder="비밀번호 입력">
        <input type='submit' class='btn btn-dark rounded-pill col-6 mt-3'>
    </form>
</div>

{% endblock %}